
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
  }

  
  hero {
    height: 100vh;
    background: linear-gradient(rgba(240, 52, 156, 0.5), rgba(14, 13, 13, 0.5)), url('images/hero-bg.jpg') no-repeat center center/cover;
    color: #3f103e;
    text-align: center;
  }
  
  hero h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  
  highlight {
    color: #e444a6;
  }
  
  hero p {
    font-size: 1.5rem;
    font-weight: 300;
  }
  
  
  about img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  
  progress {
    height: 20px;
  }
  
  progress-bar {
    font-weight: 500;
  }
  
  
  projects h2 {
    margin-bottom: 40px;
  }
  
  card img {
    height: 200px;
    object-fit: cover;
  }
  
  card-title {
    font-weight: 700;
  }
  
  
  contact a {
    font-size: 1.2rem;
  }
  
  footer {
    background-color: #c0cad4;
    color: #333;
  }
  
